streamlit==1.0.0
pip==23.3.1 
pickleshare==0.7.5
pandas==1.1.4
stopwordsiso==0.6.1
scikit-learn==1.3.2
joblib==1.3.2
numpy==1.26.2
gensim==4.3.2
requests==2.31.0
beautifulsoup4==4.12.2
Unidecode==1.1.1
